body {
  margin: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 15px;
  background: #020617;
  font-size: 20px;
  text-align: center;
}

.chat {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.user {
  background: #6366f1;
  margin-left: auto;
}

.bot {
  background: #1e293b;
}

.inputBox {
  display: flex;
  padding: 10px;
  background: #020617;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  background: #6366f1;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

img, video {
  max-width: 250px;
  border-radius: 10px;
  margin-top: 10px;
}
